label#conCount Not seeing what people are drawing? make sure your in the same room! Not sure what room to go to? Go to thebarnacle.info/whiteboard/1234
div#canvasdiv(width="1280", height="720")
	canvas#imageView(width="1280", height="720", style="border: 1px solid black;")
div#toolsdivone
	button#clearbutton Clear
	select#tools
		option(value="line") Line
		option(value="pencil") Pencil
		option(value="rectangle") Rectangle
		option(value="text") TextTool
	input#textbox(type="text")
	canvas#myCanvas(width="578", height="276")
script(src="/javascripts/whiteboard.js")
