/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/
#canvasdiv {
    position: relative;
    text-align: center;
    height: 720px;
    width: 100%
}
/*
canvas {
    position : relative;
    top: 0;
}
*/
#mainCanvas {
    left: 50%;
    margin-left: -640px;
    position: absolute;
    top: 0px;
    z-index: 100;
}
#clientCanvas {
    left: 50%;
    margin-left: -640px;
    position: absolute;
    top: 0px;
    z-index: 200;
}

